rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /wiiinfoPhrases/{phraseId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
